<a href="https://colab.research.google.com/github/elramirezn/AlgorithmsUN2022I/blob/main/elramirez_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello\nWorld!")

Hello
World!

In [ ]:
# print('Hello World!')

In [ ]:
Numbers = "1234567"
print(Numbers[1::2])
print(Numbers[::3])
print(Numbers[::6])

246
147
17

In [ ]:
"0123456".find('1')

1

In [ ]:
print(3 + 2 * 2)

7

In [ ]:
name="Lizz"
print(name[0:2])

Li

In [ ]:
var='01234567'
print(var[::2])
'1,2,3,4'.split(',')

0246

['1', '2', '3', '4']

In [ ]:
A='1' 
b='2'
A+b

'12'

In [ ]:
myvar="hello"
myvar.upper()

'HELLO'

In [ ]:
A=(0,1,2,3,5,6,7,8)
A[3]
A[0]

0

In [ ]:
A=((11,12),[21,22])
A[1]
A[0][1]
A=[1,'a']
B=[2,1,'d']
A+B
a=set(A)
print(a)
v={'A','B','C'}
v.add('C')
print(v)

{1, 'a'}
{'B', 'C', 'A'}

In [ ]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}

U.union(S)
U.intersection(S)

{'A', 'C'}

In [ ]:
D = {'a':0,'b':1,'c':2}
D.values()
D['b']

1

In [ ]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [ ]:
i=-1000000000
i!=0

True

In [ ]:
x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

In [ ]:
A=[3,4,5]

for a in A:

  print(a)

3
4
5

In [ ]:
x=3

y=1

while(y!=x):

  print(y)
  y=y+1

1
2

In [ ]:
a=1

def add(b):

  return a+b

c=add(10)
print(c)

11

In [ ]:
def f(*x):

  return sum(x)

f(c)

11

In [ ]:
class Car:
  def __init__(self,make,model,color):
    self.make=make;
    self.model=model;
    self.color=color;
  def __repr__(self):
        return f'Car({self.make},{self.model},{self.color})'


Carro=Car('Honda','Accord','blue')
carro1=Car(make="Honda",model="Accord",color="blue")
carro2=Car(model="Accord",make="Honda",color="blue")
carro3=Car("Accord","Honda","blue")
print(Carro)
print(carro1)
print(carro2)
print(carro3)

Car(Honda,Accord,blue)
Car(Honda,Accord,blue)
Car(Honda,Accord,blue)
Car(Accord,Honda,blue)

In [ ]:
 class Car: 
    # In your code, this constructor was not defined and hence you were getting the error
    def __init__(self,name,year,model):
        self.name = name
        self.year_built = year
        self.model = model
    def __repr__(self):
        return f'Car({self.name},{self.year_built},{self.model})'

# The below statement requires a constructor to initialize the object
c1 = Car('minicooper','1970','MX1')

#
print(c1)

Car(minicooper,1970,MX1)

In [ ]:
x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

In [ ]:
A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [ ]:
def Delta(x):

if x==0:

  y=1;

else:

  y=0;

return(y)

In [ ]:
d= {'a': '1','b':'2'}
d.keys()

dict_keys(['a', 'b'])

In [ ]:
import pandas as banana
import numpy as np

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

print(df)
df.head()

    a   b
0  11  21
1  21  22
2  31  23

    a   b
0  11  21
1  21  22
2  31  23

In [ ]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1 
df.to_csv("file.csv")

In [ ]:
A = np.array([[1,2],[3,4],[5,6],[7,8]])
B = np.array([[1,2,3],[4,5,6],[7,8,9]])
a=np.array([1,1,1,1,1])
a+10
print(a)
b=np.array([1,0,1,0,1])
c=np.array([0,1])
d=np.array([1,0])


#print(A)
#print(B)

[1 1 1 1 1]

In [ ]:
name="Michael jackson"
name.find('el')

5

In [ ]:
x="Go"

if(x=="Go"):

  print('Go')

else:

  print('Stop ')

print('Mike')

Go
Mike

In [ ]:
for n in range(3):

  print(n+1
        )

1
2
3

In [ ]:
A=['1','2','3']
for a in A:
  print(2*a)

11
22
33